@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chorista-bg-solid: 0, 0%, 98%;
  --chorista-bg-overlay: 0, 0%, 64%, 0.8;
  --chorista-text-solid: 0, 0%, 0%;
  --chorista-border-solid: 0, 0%, 0%;
  --chorista-border-soft: 0, 12%, 27%;
  --chorista-bg-off-1: 0, 0%, 93%;
  --chorista-bg-off-2: 0, 0%, 80%;

  --chorista-bg-solid-dark: 0, 0%, 9%;
  --chorista-bg-overlay-dark: 0, 0%, 15%, 0.8;

  --chorista-text-solid-dark: 0, 0%, 98%;
  --chorista-border-solid-dark: 0, 0%, 67%;
  --chorista-border-soft-dark: 0, 0%, 20%;
  --chorista-bg-off-1-dark: 0, 0%, 18%;
  --chorista-bg-off-2-dark: 0, 0%, 27%;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: var(--chorista-bg-solid);
    --foreground: var(--chorista-text-solid);
    --card: var(--chorista-bg-solid);
    --card-foreground: var(--chorista-text-solid);
    --popover: var(--chorista-bg-solid);
    --popover-foreground: var(--chorista-text-solid);
    --primary: var(--chorista-bg-solid-dark);
    --primary-foreground: var(--chorista-text-solid-dark);
    --secondary: var(--chorista-bg-solid-dark);
    --secondary-foreground: var(--chorista-text-solid-dark);
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: var(--chorista-bg-solid-dark);
    --foreground: var(--chorista-text-solid-dark);
    --card: var(--chorista-bg-solid-dark);
    --card-foreground: var(--chorista-text-solid-dark);
    --popover: var(--chorista-bg-solid-dark);
    --popover-foreground: var(--chorista-text-solid-dark);
    --primary: var(--chorista-bg-solid);
    --primary-foreground: var(--chorista-text-solid);
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
